@import 'variables';

body {
  margin: 0;
}
#app {
  font-family: $websiteFont;
  color: $websiteTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.headermain-block {
  margin: 0 8%;
}
@media only screen and (max-width: 1000px) {
  .headermain-block {
    margin: 0 4%;
  }
}