$websiteFont: 'Source Sans Pro', sans-serif;
$websiteTextColor: black;
$websiteAdditionalTextColor: #717171;
$websiteAdditionalFontStyle: italic;
$websiteHoverTextColor: red;
$websiteHoverTextColorHoverTransition: color .4s ease;

$headerMenuHoverTextColor: red;
$headerBorderColor: #717171;

$footerTextColor: gray;

$indexBorderHoverDiv: 3px solid red;
$indexBorderDiv: 3px solid black;
$indexBorderTransition: border-color .4s ease;

$articleTextColor: black;

$equipmentListElementMarginLeft: 1%;

$contactBlockBorderHover: 3px solid red;
$contactBlockBlackBorder: 3px solid black;
$contactBorderTransition: border-color .4s ease;
$formWidthMiddleSize: 75vh;
$formWidthSmallSize: 50vh;